@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 32px 64px;
  max-width: 100vw;
  width: 100vw;
  background-color: #202020;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
